<li id="bookmark-<%= bookmark.id %>">
  <span class="content">
    <%= image_tag bookmark.picture.url if bookmark.picture? %>
    <%= link_to bookmark.name, bookmark.url %>
  </span>
  <span class="timestamp">
    Added <%= time_ago_in_words(bookmark.created_at) %> ago.
    <% if current_user?(bookmark.user) %>
      <%= link_to "delete", bookmark, method: :delete,
                                       data: { confirm: "You sure?" } %>
    <% end %>
  </span>
</li>
