<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="bookmark_form">
        <%= render 'shared/bookmark_form' %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3>Bookmark Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>

<div class="center hero-unit">
</br>
</br>
  
<h1><img src="/assets/Home.png" alt="Home" />
</h1>
  
  

  <%= link_to "Sign Up", signup_path, class: "btn btn-large btn-primary" %>
  </br>
  </br>
  </br>
</div>
<% end %>

<%= link_to image_tag("rails.png", alt: "Rails logo"),
            'http://rubyonrails.org/' %>
