<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
  
  <div class="col-md-8">
    <% if @user.bookmarks.any? %>
      <% c = @user.bookmarks.count %>
      <h3>Bookmarks (<%= c %>)</h3>
      
      <% i = 0 %>
      <% while i < 16 && i < c %>
      
        <ol class="bookmarks">
          
          <% if @bookmarks[i] != nil %>
            <div class="col-lg-3 col-md-3 col-sm-9 col-xs-9">
              <li><%= render @bookmarks[i] %></li>
            </div>
          <% end %>
          
        </ol>
        
        <% i += 1 %>
      
      <% end %>
     
      
      <div class="col-md-12">
        <%= will_paginate @bookmarks %>
      </div>
    <% end %>
  </div>
</div>
